# ================================
# Environment & Secrets
# ================================
.env
.env.*
!.env.example

# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*$py.class

# ================================
# Virtual Environments
# ================================
env/
.venv/
venv/

# ================================
# Django
# ================================
staticfiles/
media/

# ================================
# Database
# ================================
*.sqlite3
db.sqlite3

# ================================
# macOS
# ================================
.DS_Store

# ================================
# IDE / Editors
# ================================
.vscode/
.idea/

# ================================
# Logs
# ================================
*.log

# ================================
# OS / Temporary
# ================================
*.swp
*.swo